// Colors
$color-white: #fff;
$color-black: #1F1F1F;
$color-black-2: #000;

$color-dark-blue: #06283D;
$color-blue: #1363DF;
$color-cyan: #47B5FF;
$color-light-blue: #DFF6FF;

// Size
$small: 1.5rem;
$medium: 4rem;
$big: 8rem;
$huge: 10rem;

// Font Size
$fs-smallest: 1.2rem;
$fs-small: 1.5rem;
$fs-medium: 2rem;
$fs-big: 3.2rem;
$fs-large: 4rem;
$fs-largest: 5rem;

// Line Height
$lh-small: 1.6;
$lh-medium: 2.0;